.list-group{
  margin-top: 30px;
}
.bottom-option{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-group{
  margin:0;
}
.line-through{
  text-decoration: line-through;
}
.fa-pencil-square-o{
  margin-left: 20px;
}
.fa-pencil-square-o,.fa-trash-o {
  cursor: pointer;
}
.edited-input{
  display: inline-block;
}
@media(min-width: 768px) {
  .bottom-option .btn{
    width: 140px;
  }  
}
