.body{
  width: 100%;
  height: 100vh;
}
.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  position: sticky;
  top:0;
  z-index: 10;
  background: white;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}
.navbar .wrapper {
  height:84px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title{
  font-size: 36px;
  margin-left: 36px; 
  color: #489846;
  font-family: Questrial;
}

.navbar__list {
  font-size: 18px;
  color: #010101;
  list-style: none;
  padding: 0;
  display: flex;
  margin-right: 30px;
}

.navbar__list > li > a{
  text-decoration: none;
  font-family: MicrosoftJhengHei;
  border-radius: 5px;
  color: #010101;
  display: flex;
  width: 120px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

 .navbar__list > li a:hover {
  background: #ff7286;
  transition: 0.2s;
  color: white;
}

.navbar__list > li {
  margin: 6px;
  padding: 0;

}

.navbar__list > .active a {
  background: #ff7286;
  color: white;
}

.banner {
  position: relative;
  height: 300px;
  background:  url(pic/2.png) center/cover no-repeat;
}
.banner h1{
  display: inline-block;
  margin: 0;
  position: relative;
  color: white;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: bold;
}
.banner:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  top:0;
  right: 0;
  bottom: 0;
  left: 0; 
}
.desc {
  text-align: center;
  justify-content: center;
  padding: 0 12px;
}
.desc_title{
  display: inline-block;
  font-size: 36px;
  font-family: MicrosoftJhengHei;
  color: #000000;
  border-left: 15px solid #a3dea2;
  padding-left: 16px; 
  margin-top: 80px; 
}
h2 {
  margin:0;
}
.desc__p{
  font-size: 16px;
  line-height: 2em;
  margin: 39px 0 84px 0;
}

.button{
  padding: 61px 80px 67px 79px; 
  display: inline-block;
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s;
}
.button:hover {
  transform: scale(1.1);
}
.btn__order{
  background: #a8e8e1;
  margin-right: 23px;
}
.btn__search{
  background: #f9f9b5;
}
.menus{
  text-align: center;
}
.menu__title{
  margin-top: 121px;
  margin-bottom: 36px;
  font-family: Questrial;
  font-size: 36px;
  border-left: 15px solid #a3dea2;
  display: inline-block;
  padding-left: 16px;
}
.pics{
  width: 100%;
  display: flex;
}
.pics img{
  width: 25%;
}
.map{
  text-align: center;
}
.map__title{
  display: inline-block;
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  border-left: 15px solid #a3dea2;
  display: inline-block;
  padding-left: 16px;
  margin-top: 90px;
  margin-bottom: 36px;  
}
.footer__bottom {
  background: #35564b;
  text-align: center;
  justify-content: : center;
}
.footer__bottom p {
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  color: white;
  height: 48px;
  line-height: 48px;
  margin-top: 0; 
  margin-bottom: 0;
}
.footer__background{
  background: #e8efee;
  width: 100%;
}
.footer__top{
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  padding: 12px;
  margin-top: 43px;
}
.footer__info{
  font-family: MicrosoftJhengHei;
  font-size: 14px;
}
.footer__mark{
  font-family: Questrial;
  font-size: 36px;
  color: #489846;
}
.footer__top__right{
  text-align: right;
}
.footer__links a{
  font-family: Questrial;
  font-size: 14px;
  text-decoration: none;
  color: #484848;
}
.comments{
  text-align: center;
}
.comment__title{
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  border-left: 15px solid #a3dea2;
  display: inline-block;
  padding-left: 16px;
  margin-top: 82px;
  margin-bottom: 45px;
}
.comment__name{
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  padding-top: 15px;
}
.comment__display{
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  padding: 0 10px;
}
.comment__block{
  width: 30%;
  border: 1px solid #c7e5ec;
  box-shadow: -1.4px -1.4px 4px 0 var(--light-blue-grey);
  border-radius: 5px;
  padding-top: 50px;
  position: relative;
  margin-top: 60px;
}
.comment__block > img{
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  transform: translate(-50%,-50%);
}
.comment__area{
  display: flex;
  justify-content: space-around;
}

@media(max-width: 768px) {
  .navbar .wrapper{
    height: 120px;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .nav__title {
    margin: 0 auto;
  }
   .navbar__list{
    margin:0; 
    justify-content: space-between;
    width: 100%;
    display: flex;
  }
  .navbar__list li {
   flex: 1; 
  }
  .navbar__list > li > a{
    width: 100%;
  }
  .button{
    padding: 40px 50px;
    display: block;
    width: 60%;
    margin: 15px auto;
  }
  .btn__order {
    margin-bottom: 15px;
  }
  .pics{
    flex-direction: column;
  }
  .pics img{
  width: 100%;
  }
  .footer__bottom p{
    display: inline;
    overflow-wrap: break-word;
  }
  .comment__area{
    flex-direction: column;
    align-items: center;
  }
  .comment__block{
    width: 80%;
  }
}